<div class="modal fade" id="sharaStudyModal" tabindex="-1" role="dialog" aria-labelledby="sharaStudyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sharaStudyModalLabel">Exportar estudio</h5>
          <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
         
          <form [formGroup] = "exportForm" class="row" (ngSubmit)="onSubmit()">
            <label class="col-form-label col-md-2" for="aet" >AETs:</label>
            <div class="col-md-10 pb-3">
                <select class="form-control" formControlName="aet" name="aet" id="aet"
                [ngClass]="{ 'is-invalid': submitted && f.aet.errors }">
                    <option [ngValue]="null" disabled>Selecciona AETitle</option>
                    <option *ngFor="let aet of aets" [value]="aet.name" >{{ aet.name }}</option>
                </select>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" #btnCloseModal class="btn btn-secondary" data-dismiss="modal">
            <fa-icon class="icon" [icon]="faTimes"></fa-icon>
            Cerrar
          </button>
          <button type="button"  (click)="onSubmit()" class="btn btn-primary">
            <fa-icon class="icon" [icon]="faShareSquare"></fa-icon>
            Exportar
          </button>
        </div>
      </div>
    </div>
  </div>