<div class="container mt-12">
  <h1 *ngIf="patient">Studies of [{{ patient.middleName }} {{ patient.familyName }} {{ patient.givenName }}]</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Study id</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let study of studies">
        <th scope="row">{{ study.studyId }}</th>
        <th scope="row">{{ study.createdTime }}</th>
        <th scope="col"><button class="btn btn-success" (click)="viewStudy(study.studyIuid)">View</button></th>
      </tr>
    </tbody>
  </table>
</div>

