<div>
  <div class="card mt-4">
      <div class="card-body">
          <h5 class="card-title pb-3">{{ title }}</h5>
          <form [formGroup] = "userForm" class="row" *ngIf="user" (ngSubmit)="onSubmit()">
              
              <label class="col-form-label col-md-2" for="username" >Nombre de usuario:</label>
              <div class="col-md-4 pb-3">
                  <input type="text" class="form-control" formControlName="username" name="username" id="username" 
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              </div>

              <label class="col-form-label col-md-2" for="email" >Email:</label>
              <div class="col-md-4 pb-3">
                  <input type="text" class="form-control" formControlName="email" name="email" id="email" 
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              </div>

              <label class="col-form-label col-md-2" for="password" >Password:</label>
              <div class="col-md-4 pb-3">
                  <input type="text" class="form-control" formControlName="password" name="password" id="password" 
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              </div>

              <div class="col-md-4 pb-3 ml-3">
                <input class="form-check-input" type="checkbox" formControlName="active" id="active">
                <label class="form-check-label" for="active">
                  Estatus
                </label>
              </div>
              

              <div class="form-group row pl-3 col-sm-12">
                  <div class="col-sm-6">
                    <button class="btn btn-primary" type="submit"
                    *ngIf="!user.id else elseBlock" >Crear</button>
                    
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" type="submit">
                          <fa-icon class="icon" [icon]="faPenSquare"></fa-icon>
                          Editar
                        </button>
                    </ng-template>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
