<div class="modal fade" id="configureEmailModal" tabindex="-1" role="dialog" aria-labelledby="configureEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="configureEmailModalLabel">Configurar email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "emailConfigurationForm" class="row" (ngSubmit)="onSubmit()">
          <label class="col-form-label col-md-2" for="email" >Email:</label>
          <div class="col-md-10">
              <input type="email" class="form-control" formControlName="email" name="email" id="email" email
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" #btnCloseModal class="btn btn-secondary" data-bs-dismiss="modal">
          <fa-icon class="icon" [icon]="faTimes"></fa-icon>
          Cerrar
        </button>
        <button type="button"  (click)="onSubmit()" class="btn btn-primary">
          <fa-icon class="icon" [icon]="faSave"></fa-icon>
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>