<div class="mt-12">
  <h1>Pacientes</h1>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Genero</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <th>{{ patient.patId }}</th>
        <th>{{ patient.middleName }} {{ patient.familyName }} {{ patient.givenName }}</th>
        <th>{{ patient.gender }}</th>
        <button class="btn btn-success" type="button" [routerLink]="['/admin/studies', patient.pk]" >Estudios</button>
      </tr>
    </tbody>
  </table>
</div>

