<div class="mt-12">
  <h1 class="title-demo">Usuarios</h1>
  <button class="btn btn-success" [routerLink]="['/admin/users/form']">Nuevo Usuario</button>
  <hr>
  <div class="form-group">
    <div class="form-group sm-12 mb-2">
      <label for="search" class="sr-only">Buscar</label>
      <input type="text" [formControl]="searchInput" class="form-control" id="search" placeholder="Buscar" 
        (keyup)="search()">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre de usuarios</th>
        <th scope="col">Estatus</th>
        <th scope="col">Instituciones</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of usersAux">
        <th>{{ user.id }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.username }}</th>
        <th [ngClass]="{'text-success': user.active, 'text-danger': !user.active }">{{ user.active ? 'Activo':'Inactivo'}}</th>
        <th>{{ user.institutions}}</th>
        <th>
          <!-- Example single danger button -->

          <button type="button" class="btn btn-success btn-sm mr-2" [routerLink]="['/admin/users/form/', user.id]">Editar</button>
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/admin/institutionUser/form/', user.id]">Config</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
