<div class="mt-12">
  <h1 class="title-demo">Usuarios</h1>
  <button class="btn btn-success" [routerLink]="['/admin/users/form']">
    <fa-icon class="icon" [icon]="faUserPlus"></fa-icon>
    Nuevo Usuario
  </button>
  <hr>
  <div class="form-group">
    <div class="form-group sm-12 mb-2">
      <label for="search" class="sr-only">Buscar</label>
      <input type="text" [formControl]="searchInput" class="form-control" id="search" placeholder="Buscar" 
        (keyup)="search()">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre de usuarios</th>
        <th scope="col">Estatus</th>
        <th scope="col">Instituciones</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of usersAux">
        <th>{{ user.id }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.username }}</th>
        <th [ngClass]="{'text-success': user.active, 'text-danger': !user.active }">{{ user.active ? 'Activo':'Inactivo'}}</th>
        <th>{{ user.institutions}}</th>
        <th>
          <div class="dropdown">
            <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon class="icon" [icon]="faTasks"></fa-icon>
              Acciones
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button class="dropdown-item" [routerLink]="['/admin/users/form/', user.id]">
                <fa-icon class="icon" [icon]="faPenSquare"></fa-icon>
                Editar
              </button>
              <button class="dropdown-item" [routerLink]="['/admin/institutionUser/form/', user.id]">
                <fa-icon class="icon" [icon]="faCogs"></fa-icon>
                Configuración
              </button>
            </div>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
  <div *ngIf="usersAux.length === 0" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>¡No hay usuarios relacionados con la busqueda!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
