<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['/admin/patients']" routerLinkActive="active">
                        <div class="sb-nav-link-icon">
                        <div routerLinkActive="active-icon">
                            
                        </div>
                        </div>Patients
                    </a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['/admin/fullStudies']" routerLinkActive="active">
                        <div class="sb-nav-link-icon">
                        <div routerLinkActive="active-icon">
                            
                        </div>
                        </div>Todos los estudios
                    </a>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['/admin/users']" routerLinkActive="active">
                        <div class="sb-nav-link-icon">
                        <div routerLinkActive="active-icon">
                            
                        </div>
                        </div>Usuarios
                    </a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['/login']" (click)="closeSession()" routerLinkActive="active">
                        <div class="sb-nav-link-icon">
                        <div routerLinkActive="active-icon">
                            
                        </div>
                        </div>Cerrar sesión
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>